 body{
        font:15px/1.5 Cambria,Helvetica, sans-serif;
        padding:0;
        margin:0;
        background-color:#f4f4f4;
    }
    
    /*Global*/
    .container{
        width:90%;
        margin:auto;
        overflow:hidden;
    }
    
    ul{
        margin:0;
        padding:0;
    }
    
    .button_1{
        height:38px;
        background:#000000;
        border:none;
        padding-left:20px;
        padding-right:20px;
        color:#ffffff;
    }
    
    /*Header*/
    header{
        background: #d8c054;
        color:#ffffff;
        padding-top:30px;
        min-height:70px;
        border-bottom:#000000 3px solid;
    }
    
    header a{
        color:#ffffff;
        text-decoration:none;
        text-transform:uppercase;
        font-size:16px;
    }
    
    ul{
        margin:0;
        padding:0;
    }
    
    
    
    header li{
        float:left;
        display: inline;
        padding:0 20px 0 20px;
        
    }
    
    header #branding{
        float:left;
    }
    
    header #branding h1{
        margin:0;
    }
    
    header nav{
        float:right;
        margin-top:5px;
    }
    
    header .highlight, headaer .current a{
        color:#000000;
        font-weight: bold;
    }
    
    header a: hover{
        color: #cccccc
        font-weight: bold;
    }
    
    /*Showcase*/
    #showcase{
        min-height: 400px;
        background:url("./img/block.jpg") no-repeat 0 -400px;
        text-align:center;
        
    }
    
    #showcase h1{
        margin-top:100px;
        font-size:40px;
        margin-bottom:10px;
    }
    
    #showcase p{
        font-size:20px;
        color: #fcfcfc;
        text-shadow:3px 2px black;
    }
   
    /*boxes*/
    #boxes{
        margin-top:20px;
    }
    
    #boxes .box{
        float:left ;
        text-align:center;
        width: 27%;
        padding:3%;
    }
    
    #boxes .box img{
        width:90%;
    }
    
   #boxes2 .box img{
       padding: 2%;
       width:auto;
       height:60%;
       
   }
    }
    
    /*SIdebar*/
    aside#sidebar{
        float:right;
        width:30%;
        margin-top:10px;
    }
    
    article#main-col{
        float:left;
        width:65;
    }
    footer{
        padding:20px;
        margin-top:5%;
        color:#000000;
        background-color:#46a36a;
        text-align:center;
    }
    
    fieldset {
        display: block;
        -webkit-margin-start: 2px;
        -webkit-margin-end: 2px;
        -webkit-padding-before: 0.35em;
        -webkit-padding-start: 0.75em;
        -webkit-padding-end: 0.75em;
        -webkit-padding-after: 0.625em;
        min-width: -webkit-min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
    }
   
   header .highlight, header .current a{
       color:#000000;
       font-weight: bold;
   }
   
   header a:hover{
       color:#46a36a;
       font-weight: bold;
   }